<div>
    <div class="card container">

        <video width="100%" height="100%" poster="../../assets/images/download.jpeg" controls>
            <source src="http://drive.google.com/uc?export=download&id=192k27ZmXU9-Hik3KVNfa61c1IuDynvv_"
                type="video/mp4">
        </video>


        <span>MEAN PROJECT</span>
        <br>
        <a>LINK</a>
        <div>
            <button type="button" class="btn" data-toggle="collapse" data-target="#demo1">Read More</button>
            <div id="demo1" class="collapse">
                This project deal with crud operations of node.
                <br>
                also we can find some extra concepts
                <br>
                like - JWT, MULTER, Custom Searching etc.
            </div>
        </div>
        <!-- </div> -->
    </div>

</div>